//light colors
$light-bg: #eeeeee;
$light-sidebar-bg: #3a98b9;
$light-chat-bg: #fff1dc;
$light-chat-bg-2: #e8d5c4;
$light-chat-hover: #0f566f;
$light-text-color: #000;

//dark colors
$dark-bg: #2c3333;
$dark-sidebar-bg: #333f44;
$dark-chat-bh: #37aa9c;
$dark-text-color: #eeeeee;
