@import "../Global/base.scss";

#light {
  background-color: $light-bg;
  .home {
    .header {
      background-color: $light-chat-bg-2;
    }
    .container {
      .sidebar {
        background-color: $light-sidebar-bg;
        .navbar {
          .logo {
          }
          .user {
            img {
            }
            button {
            }
          }
        }
        .search {
          .searchForm {
          }
        }
        .userChat {
          &:hover {
            background-color: $light-chat-hover;
          }
        }
      }
    }
  }
}
#dark {
  background-color: $dark-bg;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    .sidebar {
      flex: 0.8;
      // background-color: #3e3c61;
      .navbar {
        display: flex;
        background-color: $light-sidebar-bg;
        border-bottom: 1px solid $light-chat-bg-2;
        padding: 10px;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        color: #ddddf7;
        .logo {
          font-weight: bold;
        }
        .user {
          display: flex;
          gap: 10px;
          img {
            // background-color: #ddddf7;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
          button {
            background-color: #5d5b8d;
            color: #ddddf7;
            border: none;
            font-size: 10px;
            cursor: pointer;
          }
        }
      }
      .search {
        border-bottom: 1px solid gray;
        .searchForm {
          padding: 10px;
          input {
            background-color: transparent;
            border: none;
            padding: 10px;
            color: #fff;
            &::placeholder {
              color: white;
            }
          }
        }
      }
      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;
        cursor: pointer;
        &:hover {
          background-color: #2f2d52;
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userChatInfo {
          span {
            font-size: 18px;
            font-weight: bold;
          }
          p {
            font-size: 14px;
            color: lightgray;
          }
        }
      }
    }
    .messageThreadsContainer {
      flex: 2;
      .chatInfo {
      }
    }
  }
}
